{% block article %}

<!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{{path('article', {id: article.id})}}">{{ article.title }}</a></h2>
                <p>{{ article.subTitle }}</p>
            </div>
            <div class="meta">
                <time class="published">{{ article.date|date("m/d/Y") }}</time>
                <a href="#" class="author"><span class="name">{{ article.author }}</span><img src="images/upload/{{ article.author.image }}" alt="" /></a>
            </div>
        </header>
        <a href="{{path('article', {id: article.id})}}" class="image featured"><img src="images/upload/{{ article.image }}" alt="" /></a>
        <p>{{ article.resume }}</p>
        <footer>
            <ul class="actions">
                <li><a href="{{path('article', {id: article.id})}}" class="button large">Continue Reading</a></li>
            </ul>
            <ul class="stats">
                <li>
                    <a href="{{ path('article_like', {'id' : article.id}) }}" class="js-like">
                        {% if app.user and article.isLikedByUser(app.user) %}
                            <i class="fas fa-thumbs-up" style="color:blue"></i>
                        {% else %}
                            <i class="far fa-thumbs-up" ></i>
                        {% endif %}
                        <span class="js-likes">
                            {{ article.postLikes | length }}
                        </span>
                    </a>
                </li>
                <li class="icon solid fa-comment">
                    <span class="js-likes">
                        {{ article.listComments | length }}
                    </span>
                </li>
            </ul>
        </footer>
    </article>

{% endblock %}
