{% block post %}
    <li>
        <article>
            <header>
                <h3>"{{ quote.content }}"</h3>
                
                <a href="{{ path('quote_like', {'id' : quote.id}) }}" class="js-like" style="float: right;font-size: 0.7em;">
                    {% if app.user and quote.isLikedByUser(app.user) %}
                        <i class="fas fa-thumbs-up" style="color:#4267b2"></i>
                    {% else %}
                        <i class="far fa-thumbs-up" ></i>
                    {% endif %}
                    <span class="js-likes">
                        {{ quote.quoteLikes | length }}
                    </span>
                </a>
                <time class="published" >{{ quote.reference}}</time>
                <time class="published" >Posté par {{ quote.user.surname}}</time>
                
            </header>
            <a class="image"><img src="images/upload/{{ quote.user.image }}" alt="" /></a>
        </article>
    </li>
{% endblock %}
