{% extends 'base.html.twig' %}

{% block bodyclass %}
    <body class="single is-preload">
{% endblock %}

        {% block main %}
            <div id="main">

                <!-- Post -->
                {% for article in articles %}
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="#">{{ article.title }}</a></h2>
                            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                        </div>
                        <div class="meta">
                            <time class="published" datetime="2015-11-01">{{ article.date|date("m/d/Y") }}</time>
                            <a href="#" class="author"><span class="name">{{ article.author }}</span><img src="../images/upload/{{ article.author.image }}" alt="" /></a>
                        </div>
                    </header>
                    <span class="image featured"><img src="/images/upload/{{ article.image }}" alt="" /></span>
                    <p>{{ article.content }}</p>
                    <footer>
                        <ul class="stats">
                            <li><a href="#">General</a></li>
                            <li><a href="#" class="icon solid fa-heart">28</a></li>
                            <li><a href="#" class="icon solid fa-comment">128</a></li>
                        </ul>
                    </footer>
                </article>
                {% endfor %}

            </div> 
        {% endblock %}

{% block about %}{% endblock %}
