{% extends 'base.html.twig' %}

{% block bodyclass %}
    <body class="single is-preload">
{% endblock %}

{% block main %}
    
    <h3 style="text-align:center">Partage tes citations préférés</h3>
    {{ form_start(quoteForm) }}

        <div class="row justify-content-center" style="margin-top:2rem">
            <div class="col-12 col-sm-10">
                {{ form_row(quoteForm.content,{"attr":{"placeholder": "Contenu"}}) }}
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:2rem">
            <div class="col-12 col-sm-10">
                {{ form_row(quoteForm.reference,{"attr":{"placeholder": "Reference du Film/Série/Jeux/Livre etc..."}}) }}
            </div>
        </div>
        
        <div class="row justify-content-center" style="margin-top:2rem">
            <div class="col-6 col-sm-4 col-md-2">
                <button type="submit">Poster</button>
            </div>
        </div>

    {{ form_end(quoteForm) }}

    {% for quote in quotes %}
        <li>
            <article style="margin:2rem">
                <header>
                    <h3>"{{ quote.content }}"</h3>
                    <time class="published" >{{ quote.reference}}</time>
                    <time class="published" >Posté par {{ quote.user.surname}}</time>
                    <a href="{{ path('quote_like', {'id' : quote.id}) }}" class="js-like" style="margin-left: 2rem;font-size: 0.7em;">
                    {% if app.user and quote.isLikedByUser(app.user) %}
                        <i class="fas fa-thumbs-up" style="color:blue"></i>
                    {% else %}
                        <i class="far fa-thumbs-up" ></i>
                    {% endif %}
                    <span class="js-likes">
                        {{ quote.quoteLikes | length }}
                    </span>
                </a>
                </header>
            </article>
        </li>
    {% endfor %}
{% endblock %}

{% block about %}{% endblock %}
